body {
  margin: 0;
  font-family: "CodeStoreText" ; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 300;
  src: url("/public/Fonts/San-Fransisco/SFProText-Light.ttf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 400;
  src: url("/public/Fonts/San-Fransisco/SFProText-Regular.ttf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 500;
  src: url("/public/Fonts/San-Fransisco/SFProText-Medium.ttf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 600;
  src: url("/public/Fonts/San-Fransisco/SFProText-SemiBold.ttf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 700;
  src: url("/public/Fonts/San-Fransisco/SFProText-Bold.ttf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 900;
  src: url("/public/Fonts/San-Fransisco/SFProText-Heavy.ttf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 100;
  src: url("/public/Fonts/San-Fransisco/SFProDisplay-Ultralight.ttf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 200;
  src: url("/public/Fonts/San-Fransisco/SFProDisplay-Thin.ttf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 300;
  src: url("/public/Fonts/San-Fransisco/SFProDisplay-Light.ttf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("/public/Fonts/San-Fransisco/SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 500;
  src: url("/public/Fonts/San-Fransisco/SFProDisplay-Medium.ttf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 600;
  src: url("/public/Fonts/San-Fransisco/SFProDisplay-SemiBold.ttf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("/public/Fonts/San-Fransisco/SFProDisplay-Bold.ttf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 800;
  src: url("/public/Fonts/San-Fransisco/SFProDisplay-Black.ttf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 900;
  src: url("/public/Fonts/San-Fransisco/SFProDisplay-Heavy.ttf");
}