body {
  margin: 0;
  font-family: "CodeStoreText" ; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow : hidden ; 
/* Corrected URL pointing to the raw SVG file */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* ===================== */
/*   SF Pro Display      */
/* ===================== */
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 900;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-Black.otf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: italic;
  font-weight: 900;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-BlackItalic.otf");
}

@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-Bold.otf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: italic;
  font-weight: 700;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-BoldItalic.otf");
}

@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 800;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-Heavy.otf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: italic;
  font-weight: 800;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-HeavyItalic.otf");
}

@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 300;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-Light.otf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: italic;
  font-weight: 300;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-LightItalic.otf");
}

@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 500;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-Medium.otf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: italic;
  font-weight: 500;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-MediumItalic.otf");
}

@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 600;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: italic;
  font-weight: 600;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-SemiboldItalic.otf");
}

@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 100;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-Thin.otf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: italic;
  font-weight: 100;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-ThinItalic.otf");
}

@font-face {
  font-family: "CodeStoreDisplay";
  font-style: normal;
  font-weight: 200;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-Ultralight.otf");
}
@font-face {
  font-family: "CodeStoreDisplay";
  font-style: italic;
  font-weight: 200;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Display-UltralightItalic.otf");
}

/* ===================== */
/*   SF Pro Text         */
/* ===================== */
@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 900;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-Black.otf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: italic;
  font-weight: 900;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-BlackItalic.otf");
}

@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 700;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-Bold.otf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: italic;
  font-weight: 700;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-BoldItalic.otf");
}

@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 800;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-Heavy.otf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: italic;
  font-weight: 800;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-HeavyItalic.otf");
}

@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 300;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-Light.otf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: italic;
  font-weight: 300;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-LightItalic.otf");
}

@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 500;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-Medium.otf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: italic;
  font-weight: 500;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-MediumItalic.otf");
}

@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 400;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: italic;
  font-weight: 400;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-RegularItalic.otf");
}

@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 600;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-Semibold.otf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: italic;
  font-weight: 600;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-SemiboldItalic.otf");
}

@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 100;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-Thin.otf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: italic;
  font-weight: 100;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-ThinItalic.otf");
}

@font-face {
  font-family: "CodeStoreText";
  font-style: normal;
  font-weight: 200;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-Ultralight.otf");
}
@font-face {
  font-family: "CodeStoreText";
  font-style: italic;
  font-weight: 200;
  src: url("/public/Fonts/CodeStorePro/SF-Pro-Text-UltralightItalic.otf");
}



/* ===================== */
/*   SF Pro Mono         */
/* ===================== */
@font-face {
  font-family: "CodeStoreMono";
  font-style: normal;
  font-weight: 700;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-Bold.otf");
}
@font-face {
  font-family: "CodeStoreMono";
  font-style: italic;
  font-weight: 700;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-BoldItalic.otf");
}

@font-face {
  font-family: "CodeStoreMono";
  font-style: normal;
  font-weight: 800;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-Heavy.otf");
}
@font-face {
  font-family: "CodeStoreMono";
  font-style: italic;
  font-weight: 800;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-HeavyItalic.otf");
}

@font-face {
  font-family: "CodeStoreMono";
  font-style: normal;
  font-weight: 300;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-Light.otf");
}
@font-face {
  font-family: "CodeStoreMono";
  font-style: italic;
  font-weight: 300;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-LightItalic.otf");
}

@font-face {
  font-family: "CodeStoreMono";
  font-style: normal;
  font-weight: 500;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-Medium.otf");
}
@font-face {
  font-family: "CodeStoreMono";
  font-style: italic;
  font-weight: 500;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-MediumItalic.otf");
}

@font-face {
  font-family: "CodeStoreMono";
  font-style: normal;
  font-weight: 400;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-Regular.otf");
}
@font-face {
  font-family: "CodeStoreMono";
  font-style: italic;
  font-weight: 400;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-RegularItalic.otf");
}

@font-face {
  font-family: "CodeStoreMono";
  font-style: normal;
  font-weight: 600;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-Semibold.otf");
}
@font-face {
  font-family: "CodeStoreMono";
  font-style: italic;
  font-weight: 600;
  src: url("/public/Fonts/CodeStoreMono/SF-Mono-SemiboldItalic.otf");
}


/* SF Compact Display */
@font-face {
  font-family: 'CodeStoreCompactDisplay';
  font-weight: 900;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Display-Black.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactDisplay';
  font-weight: 700;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Display-Bold.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactDisplay';
  font-weight: 800;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Display-Heavy.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactDisplay';
  font-weight: 300;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Display-Light.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactDisplay';
  font-weight: 500;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Display-Medium.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactDisplay';
  font-weight: 400;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Display-Regular.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactDisplay';
  font-weight: 600;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Display-Semibold.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactDisplay';
  font-weight: 100;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Display-Thin.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactDisplay';
  font-weight: 200;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Display-Ultralight.otf') ;
}

/* SF Compact Text */
@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 900;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-Black.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 900;
  font-style: italic;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-BlackItalic.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 700;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-Bold.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 700;
  font-style: italic;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-BoldItalic.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 800;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-Heavy.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 800;
  font-style: italic;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-HeavyItalic.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 300;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-Light.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 300;
  font-style: italic;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-LightItalic.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 500;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-Medium.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 500;
  font-style: italic;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-MediumItalic.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 400;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-Regular.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 400;
  font-style: italic;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-RegularItalic.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 600;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-Semibold.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 600;
  font-style: italic;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-SemiboldItalic.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 100;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-Thin.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 100;
  font-style: italic;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-ThinItalic.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 200;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-Ultralight.otf') ;
}

@font-face {
  font-family: 'CodeStoreCompactText';
  font-weight: 200;
  font-style: italic;
  src: url('/public/Fonts/CodeStoreCompact/SF-Compact-Text-UltralightItalic.otf') ;
}

